form {
  padding: 10px;
  margin-top: 150px;
}

form div.editor {
  height: 50vh;
  display: flex;
  gap: 20px;
}

form div.editor > label {
  display: flex;
  flex-direction: column;
}

form div.editor label {
  cursor: pointer;
}

form div.editor > label,
form div.editor > div {
  flex: 1 1 100%;
}

form div.editor > div {
  display: flex;
  gap: 20px;
  padding: 20px;
}

form div.editor textarea {
  height: 100%;
  padding: 10px;
}
