div.menu {
  cursor: pointer;
  position: relative;
}

span.menu-title:hover {
  text-shadow: 0 0 1px black;
}

div.menu ul.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  top: auto;
  left: auto;
  position: absolute;
  border: 1px solid grey;
  flex-direction: column;
  width: 200px;
  background: white;
}

div.menu ul.menu li {
  padding: 10px;
  border-bottom: 1px solid grey;
}

div.menu span.menu-title:hover,
div.menu ul.menu li:hover {
  text-shadow: 0 0 1px black;
}
