.overlay {
  position: fixed;
  background: #000000bf;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.overlay button.close {
  place-self: flex-end;
  cursor: pointer;
  font-size: 30px;
  padding: 3px 10px;
  background: transparent;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  color: white;
}

.overlay button.close:hover {
  border: 1px solid red;
  color: red;
}

.overlay div.content {
  height: 100%;
  border-radius: 4px;
  background: white;
  padding: 10px;
  overflow: auto;
  max-height: calc(100vh - 70px);
}
