ul.results {
  list-style: none;
  display: flex;
  flex-direction: column;
  place-content: center;
  padding: 0 20vw;
  gap: 20px;
}

ul.results li {
  padding: 10px;
  border: 2px solid gainsboro;
  border-radius: 4px;
  cursor: pointer;
}

ul.results li:hover {
  border: 2px solid blue;
}
