.search-common {
  gap: 20px;
  display: flex;
  place-items: center;
  place-content: center;
}

.search-container {
  width: 100%;
  padding: 20px;
  flex-direction: column;
}

.search-container>div {
  padding: 5px;
  gap: 10px;
  border: 2px solid gainsboro;
  border-radius: 4px;
}

.search-container>div:focus-within{
  border: 2px solid black;
}

.search-container>div input {
  outline: none;
  border: none;
  text-align: center;
}
